
*.sh text eol=lf
docker-lib.sh text eol=lf
build_with_torch.sh text eol=lf
docker-build.sh text eol=lf
docker-run.sh text eol=lf
docker-train.sh text eol=lf
docker-build-and-run.sh text eol=lf
* text=auto
libtorch_part_* binary
*.zip binary
*.mp4 binary
data/videos/video_part_* binary
*.jpg binary
*.png binary
*.pdf binary
*.pt binary
*.pth binary
*.onnx binary
